body{
    margin: 0px;
}
#header{
    background-image: url('images/fond-snowboard.jpg');
    background-size: cover;
    height: 100vh;
    color:white;
}
#header #titre{
    margin: 0px;
    line-height: 88vh;
    margin-left: 45vh;
    font-size: 6.5em;
}
#menu{
    display: flex;
    font-size: 2em;
    justify-content: space-between;
}
#gif{
    background-image: url('images/snowboarding.gif');
    background-size: cover;
    height: 50vh;
    color:white;
}
#gif #titre{
    margin: 0px;
    line-height: 50vh;
    text-align: center;
    font-size: 4.5em;
}

#petit_header{
    background-image: url('images/fond-snowboard.jpg');
    background-size: cover;
    height: 50vh;
    color:white;
}
#petit_header #petit_titre{
    margin: 0px;
    line-height: 88vh;
    margin-left: 45vh;
    font-size: 4.5em;
}
#login_container{
    maring: 0%;
    background-image: url('images/fond-snowboard.jpg');
    background-size: cover;
    height: 100vh;
    color:white;
}
#login{
    margin: 0px;
    font-size: 2em;
    text-align: center;
    line-height: 8vh;
}
#login input{
    width: 30%;
}
#login button{
    width:20%;
}
#register_container{
    maring: 0%;
    background-image: url('images/fond-snowboard.jpg');
    background-size: cover;
    height: 100vh;
    color:white;
}
#register{
    margin: 0px;
    font-size: 2em;
    text-align: center;
    line-height: 8vh;
}